@media only screen and (max-width: 750px) {
  .contenu-site,
  .contenu {
    height: 100%;
  }
  .contenu {
    overflow: scroll;
  }
  .contenu-site {
    transition-duration: 0.3s;
    transform: translateX(0px);
  }
  .site-content {
    position: absolute;
    top: 66px;
    /* La hauteur du header */
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
  }
  .header {
    position: static;
  }
  /* L'icône hamburger, en utilisant le box-shadow */
  .iconedumenu {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    float: left;
    width: 45px;
    height: 45px;
  }
  .iconedumenu:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
  }
  /* Le menu collé à gauche est masqué grâce à un transform */
  .menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: red;
    width: 350px;
    height: auto;
    transform: translateX(-350px);
  }
  /* Un lien par ligne */
  .menu a {
    font-color: green;
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #303f9f;
  }
  /* Toujours dans le @media */
  .responsive .contenu {
    transform: translateX(350px);
  }
  /* On met un cache par dessus le site-content pour bloquer le scroll et permettre le retour au site */
  .responsive .siteacacher {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
