.contenu {
	top : 0px;
	display:block;
	position:relative;
	width:100%;
	text-align: center;

	.header{
    height: auto;    
    padding: 50px;
    margin: 0px;
		
	}
}


.headerpresentation{
	background : #191919 ;
	border-radius: 10px;	
	width : 100%;
	height: auto;
	margin: 30px auto;
	h1{
		text-align : center;
		font-size : 60px;
		color: #1E90FF;
		text-transform: uppercase;
		span.bleu{
			color :#00CBCB;
		}
		span.gris{
			color: #464646;
		}
		span.blanc{
			font-size: 50px;
			color:#FFF;
		}
	}
	a{
		font-size: 40px	;
		color:#FFF;
		border-width:5px;
 		border-style:inset;
 		border-color:white;
	}	 

}

@media only screen and (max-width: 550px) {
  
  .headerpresentation{   
    margin: 50px auto;
  }
  
}