.contenu {
  top: 0px;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}
.contenu .header {
  height: auto;
  padding: 50px;
  margin: 0px;
}
.headerpresentation {
  background: #191919 ;
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin: 30px auto;
}
.headerpresentation h1 {
  text-align: center;
  font-size: 60px;
  color: #1E90FF;
  text-transform: uppercase;
}
.headerpresentation h1 span.bleu {
  color: #00CBCB;
}
.headerpresentation h1 span.gris {
  color: #464646;
}
.headerpresentation h1 span.blanc {
  font-size: 50px;
  color: #FFF;
}
.headerpresentation a {
  font-size: 40px	;
  color: #FFF;
  border-width: 5px;
  border-style: inset;
  border-color: white;
}
@media only screen and (max-width: 550px) {
  .headerpresentation {
    margin: 50px auto;
  }
}
