#profil{
	background-color:grey;
}

#cv{
	background-color:white;
}

#parcours{
	background-color: grey;
	display: inline;
	float: inherit;
	padding: 0;
	margin: 0;
	.bac{		
		background: url("http://www.mgrenoble.fr/img_a1/Les_l_ves_du_lyc_e_Ferdinand_Buisson_Voiron_vont_profiter_d_un_nouvel_internat.jpg");
			background-position: center center;
			background-repeat: no-repeat; 
			background-attachment: relative; 
			background-size: cover; 
			-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
			-o-background-size: 100% 100%;        /* Opera 9.5 */
			-webkit-background-size: 100% 100%;   /* Safari 3.0 */
			background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */
		width: 35%;
		height: 50%;
	}

	.dut{
		background: url("https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfa1/t31.0-8/c0.153.851.315/p851x315/1524493_1001095206571448_5319884563189833887_o.jpg");
			background-position: center center;
			background-repeat: no-repeat; 
			background-attachment: relative; 
			background-size: cover; 
			-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
			-o-background-size: 100% 100%;        /* Opera 9.5 */
			-webkit-background-size: 100% 100%;   /* Safari 3.0 */
			background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */
		width: 35%;
		height: 50%;
	}
	.bts{
		background: url("http://mw2.google.com/mw-panoramio/photos/medium/73896975.jpg");
			background-position: center center;
			background-repeat: no-repeat; 
			background-attachment: relative; 
			background-size: cover; 
			-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
			-o-background-size: 100% 100%;        /* Opera 9.5 */
			-webkit-background-size: 100% 100%;   /* Safari 3.0 */
			background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */
		width: 35%;
		height: 50%;
	}
	.licence{
		background: url("../img/licence.png");
			background-position: center center;
			background-repeat: no-repeat; 
			background-attachment: relative; 
			background-size: cover; 
			-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
			-o-background-size: 100% 100%;        /* Opera 9.5 */
			-webkit-background-size: 100% 100%;   /* Safari 3.0 */
			background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */
		width: 35%;
		height: 50%;
	}

	
}


#cv a{
	font-size: 40px	;
}

